<?xml version="1.0" encoding="utf-8" ?>
<pro>
  <info video="True" news="True" multipack="True" notification="0.0.0.0" language="ru">
    <notify_link></notify_link>
  </info>
  <settings kill="True" force="True" aero="True" video="True" weak="True" launcher="0" />
  <multipack type="base" version="0.0.0.0" />
  <game>
    <path></path>
  </game>
  <youtube />
  <do_not_display>
    <video>
      <item>thisIsId</item>
    </video>
    <news>
      <item>thisIsId</item>
    </news>
  </do_not_display>
</pro>