<?xml version="1.0" encoding="utf-8" ?>
<pro>
  <token access_token="32351795cac8c2d3c54762181871a2f8e8089d3e" expires_at="1412174395" nickname="First_Helldar" account_id="2732865"/> 
  <info video="True" news="True" multipack="True" notification="0.0.0.0" language="ru" player="First_Helldar" account_id="2732865">
    <notify_link />
  </info>
  <settings kill="False" force="False" aero="False" video="False" weak="False" winxp="False" launcher="0" />
  <multipack type="base" version="0.0.0.0">
    <link></link>
  </multipack>
  <game>
    <version>0.0.0.0</version>
    <path></path>
  </game>
  <youtube/>
  <do_not_display>
    <video />
    <news />
  </do_not_display>
  <processes/>
</pro>